<% provide(:title,'About Us') %>

<h1>About Us</h1>
<p>
The <a href="http://railstutorial.org">Rails Tutorial</a> is an online screencast and book showing usage of the <a href="http://rubyonrails.org">Ruby on Rails</a> framework.
</p>
